body {
    font-family: Arial, sans-serif;
    background-color: #F2F2F2;
}

h1 {
    font-size: 2.2rem;
    font-weight: 800;
    color: #2D72F1;
}

label {
    color: #7B98CA;
    font-size: 0.8rem !important;
    font-weight: 550;
}

input {
    display: block;
}

select {
    margin-top: -1rem;
    padding: 0.3rem 0.4rem;
}

input {
    padding: 0.3rem 0;
    background-color: white;
    border: 1px solid#D2D2E8;
    width: 100%;
}

.task-info {
    width: 28vw;
    height: 86vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    color: white;
    font-size: 1rem;
    text-align: center;
    border: none;
    padding: 0.8rem;
    font-weight: 500;
    background-color: #2D72F1;
}


.add-tasks {
    display: flex;
    justify-content: space-around;
}

/* For  task-image */

.task-image {
    width: 55vw;
    height: 35vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20vh;
    background-color: #FFFFFF;
}

.task-name {

 color: #353E9B;
}


.priority {
    display: inline;
    color: white;
    font-size: 0.7rem;
    padding: 0.05rem 0.3rem;
    border-radius: 15%;
    margin-top: 2rem;;
    background-color: #F15F91;
}

.grey {
    font-size: small;
    color: #5179BD;
    padding: 0.3rem 0.5rem;
    border-radius: 10%;
    font-weight: 600;
    margin-right: 0.4rem;
    background-color: #DCDCDC;
}

.comments {
    color: #4973BC;
}

.date-info .comments {
    font-size: 0.9rem;
    margin-top: 6rem;
}

.people-work {
    font-weight: 600;
    font-size: small;
}

.date {
    font-size: small;
    font-weight: 550;
    color: #8E969B;
    margin-left: 2.7rem;
}

.image {
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #FFFFFF;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.user {
    color: #7A8489;
    margin-right: 0.5rem;
    font-size: 0.7rem;
}

.message-icon {
    color: grey;
    font-size: small;
    margin-right: 0.8rem;
}

.task-details {
    margin-top: 0.4rem;
}